---
layout: default
title: 博客首页
---
<h4>分类列表</h4>  
var articleList = [{% for post in site.posts %}  
        <span> style="white-space:pre"> </span>{"title":"{{post.title}}",  
            "url":"{{site.url}}{{post.url}}",  
    <span style="white-space:pre">    </span>   "date":"{{ post.date | date:'%Y-%m-%d' }}",  
            "excerpt": '{{ post.excerpt | strip_html | strip_newlines | truncate:170 }}'  
            {% if post.categories != empty %}  
            ,  
            "categories":[{% for category in post.categories %}"{{category}}"{% if forloop.last == false %},{% endif %}{% endfor %}]{% endif %}}  
            {% if forloop.last == false %},{% endif %}{% endfor %}]; 
<p>文章列表</p>
<ul> 
	{% for post in site.posts %}
		<li> {% if post.categories != empty %} {{ post.category }} {% endif %} {{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> 
</li>
		{{ post.excerpt | strip_html | strip_newlines | truncate:153 }} 
	{% endfor %}
</ul>