<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
    <h2>{{ page.title }}</h2>
    <center>
<h4>
    	<ul>
	<span class="dt">____</span>	
<a href="http://math-phys.science">本站首页</a><span class="dt">____</span> 
<a href="http://math-phys.science/comment">评论留言</a> <span class="dt">____</span>
<a href="http://math-phys.science/about">关于本站</a> <span class="dt">____</span>
<a href="http://math-phys.science/contact">联系方式</a> <span class="dt">____</span>
		
	</ul>
</h4>
	<center>
<hr>

</dvi>
    </header>

    <aside>
    </aside>

    <article>
	{{ content }}
    </article>
    </hr>
	{% include comments.html %}
	</dvi>
    <footer>
    </footer>
  </body>
</html>


