<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{ page.title }}</title>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\(','\)']]}});
    </script>
    <script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body>
    <header>

	<center>
<dvi> <h4>
	<ul>
	<span class="dt">____</span>	
<a href="http://math-phys.science">本站首页</a><span class="dt">____</span> 
<a href="http://math-phys.science/comment">评论留言</a> <span class="dt">____</span>
<a href="http://math-phys.science/about">关于本站</a> <span class="dt">____</span>
<a href="http://math-phys.science/contact">联系方式</a> <span class="dt">____</span>
		
	</ul>
</h4>
	<hr>
	<h3>{{ page.title }}</h3>
	</center>

</dvi>
    </header>

    <aside>
    </aside>

    <article>
	{{ content }}
    </article>

    <footer>
  <div>
<a href="{{ site.baseurl }}/{{ page.category }}">Go back</a>
</div>
    </footer>
  </body>
</html>


